<h2></h2>
<h1>Tipo de Producto</h1>

<div class="responsive">
    <div class="gallery">
      <a routerLink="/frutasMenu">
        <img src="assets/images/Frutas.png" alt="Frutas" width="600" height="400">
      </a>
      <div class="desc">Frutas</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a routerLink="/">
        <img src="assets/images/Verduras.png" alt="Verduras" width="600" height="400">
      </a>
      <div class="desc">Verduras</div>
    </div>
  </div>