<h2></h2>
<h1>Tipo de Usuario a Registrar</h1>
  
  
  <div class="responsive">
    <div class="gallery">
      <a routerLink="/registro">
        <img src="assets/images/Proveedores.png" alt="Cinque Terre" width="600" height="400">
      </a>
      <div class="desc">Productores</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <a routerLink="/">
        <img src="assets/images/Comprador.png" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Compradores</div>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a routerLink="/">
        <img src="assets/images/Camion.png" alt="Forest" width="600" height="400">
      </a>
      <div class="desc">Transportistas</div>
    </div>
  </div>