<h1 class="Registro de Usuarios Compradores">Ingrese sus datos</h1>

<div class="containerRegistro">
 <div class="row">
  <div class="col-25">
    <label for="fname">Nombre</label>
  </div>
  <div class="col-75">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Nombre</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
 </div>
 <div class="row">
  <div class="col-25">
    <label for="lname">Apellidos</label>
  </div>
  <div class="ApellidosRegistro">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Apellidos</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Correo Electronico</label>
  </div>
  <div class="email-container">
    <mat-form-field appearance="fill">
      <mat-label>Ingresa tu correo</mat-label>
      <input matInput placeholder="pat@example.com" formControl="email" required>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Contraseña</label>
  </div>
  <div class="ContrasenaRegistro">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput placeholder="3 o más digitos" required type="password">
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Nombre Institucion</label>
  </div>
  <div class="InstitucionRegistro">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Nombre de su Institucion</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">RUN Empresa</label>
  </div>
  <div class="RunEmpresaRegistro">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>RUN de la Empresa</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Telefono</label>
  </div>
  <div class="TelefonoRegistro">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Telefono/Celular</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">País</label>
  </div>
  <div class="PaisRegistro">
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Seleccione</mat-label>
      <mat-select>
        <mat-option value="one">Chile</mat-option>
        <mat-option value="two">Argentina</mat-option>
        <mat-option value="three">Brazil</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Direccion</label>
  </div>
  <div class="DireccionRegistro">   
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Direccion</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Regíon</label>
  </div>
  <div class="RegionRegistro">
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Seleccione</mat-label>
      <mat-select>
        <mat-option value="one">Metropolitana</mat-option>
        <mat-option value="two">Valparaiso</mat-option>
        <mat-option value="three">Coquimbo</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="lname">Comuna de Residencia</label>
  </div>
  <div class="ComunaRegistro">
    <mat-form-field appearance="fill" class="formspace">
      <mat-label>Seleccione</mat-label>
      <mat-select>
        <mat-option value="one">Peñalolen</mat-option>
        <mat-option value="two">Maipu</mat-option>
        <mat-option value="three">Renca</mat-option>
      </mat-select>
    </mat-form-field>
  </div>  
</div>
<div class="row">
  <a routerLink="/inicio"><input type="submit" value="Registrarse"></a>
</div>
</div>


